<template>
  <section class="container">
    <div class="row">
      <article class="col-md-10 col-md-offset-1">
        <form @submit.prevent="validateForm">
          <div class="form-group">            
            <label>Nombre</label> 
            <input type="text" class="form-control" v-model="name">
            <span v-if="required" class="text-danger">El campo es obligatorio</span>
          </div>
          <div class="form-group" v-if="edit===true">
            <label>Estado</label>
            <select v-model="state" class="form-control">
              <option value="">Seleccione..</option>              
              <option v-for="op in states" :value="{id: op.id, state: op.state}">{{op.state}}</option>
            </select>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-success">Enviar</button>
          </div>
        </form>
      </article>
    </div>  
  </section>
</template>

<script>
    export default {
      data: function() {
        return {
          name: "",
          required: false,
          state: ""
        }
      },
      props: ['edit','category', 'states'],
      methods: {
        validateForm: function() {
          if(this.name) {
            if (this.edit === true) 
              this.updateCategory()
            else
              this.newCategory()
          }
          else
            this.required = true
        },
        newCategory: function () {
          axios.post('store', {
            name: this.name
          })
          .then(function (response) {
            if(response)
              window.location.href = '/category'
          })
          .catch(function (error) {
            console.log(error);
          });
        },
        updateCategory: function () {
          axios.put('../update', {
            id: this.category.id,
            name: this.name,
            state: this.state.id
          })
          .then(function (response) {
            if(response)
              window.location.href = '/category'
          })
          .catch(function (error) {
            console.log(error);
          });
        },
        validateUpdate: function() {
          if(this.edit === true) {
            this.name = this.category.name
            this.state = _.find(this.states, { 'id': this.category.state_id });
          }
        }
      },
      mounted() {
        console.log('Component mounted.')
        this.validateUpdate()
      },
      watch: {
         name: function(val) {
          if(val)
            this.required = false
          else
            this.required = true
        }
      }
    }
</script>

