<template>
	<section class="container">
		<div class="row">
			<article class="col-md-10 col-md-offset-1">
				<form @submit.prevent="validateForm">
					<div class="form-group">
						<label>Nombre</label>
						<input type="text" name="name" class="form-control" v-model="name">
						 <span v-if="required" class="text-danger">El campo es obligatorio</span>
					</div>
					<div class="form-group">
						<label>Descripción</label>
						<input type="text" name="description" class="form-control" v-model="description">
						 <span v-if="required" class="text-danger">El campo es obligatorio</span>
					</div>
					 <div class="form-group" v-if="edit===true">
			            <label>Estado</label> 

			            <select v-model="state" class="form-control">
			              <option value="">Seleccione..</option>              
			              <option v-for="op in states" :value="{id: op.id, state: op.state}">{{op.state}}</option>
			            </select>
			        </div>
					<div class="form-group">
						<button type="submit" class="btn btn-success">Enviar</button>
					</div>
				</form>
			</article>
		</div>	
	</section>
</template>

<script>
	export default {
		data: function() {
			return {
				name: "",
				description:"",
				required: false,
				state: ""
			}
		},
		 props: ['edit','movie', 'states'],
		methods:{
			validateForm: function(){
				if (this.name){
					if(this.edit === true){
						this.updateMovie()
					}
					else
						this.newMovie()
				}
				else
					this.required = true
			},
			newMovie: function(){
				axios.post('store', {
					name: this.name,
					description: this.description
				})
				.then(function(response){
					if (response)
						window.location.href = "/movie"
				})
				.catch(function (error){
					console.log(error)
				});
			},
			updateMovie: function(){
					axios.put('../update',{
						id: this.movie.id,
						name: this.name,
						description: this.description,
						state: this.state.id
				})
				.then(function(response){
					console.log(response)
					if (response)
						window.location.href = "/movie"
				})
				.catch(function(error){
					console.log(error)
				});
			},
			validateUpdate: function(){
				if(this.edit === true){
					this.name = this.movie.name,
					this.description = this.movie.description,
					this.state = _.find(this.states, { 'id': this.movie.state_id});
				}
			}
		},
		mounted(){
			console.log("component mounted.")
			this.validateUpdate()
		},
		watch:{
			name: function(val){
				if (val)
					this.required = false
				else
					this.required = true
			},
			description: function(valu){
				if (valu)
					this.required = false
				else
					this.required = true
			}
		}
	}
</script>
