.container-1{
	background-color: #2332;
}

.nav-link-1{
	color: white;
	padding-left: 15px;
	margin-top: 100px;
	list-style-type: none;
}

.navbar-brand-2{
	color: white;
	font-size: 30px;
	list-style-type: none;
}

.navbar-light .navbar-nav .nav-link-1 {
  color: white;
}